* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: auto;
    width: 100%; 
    padding: 5px 50px;
    top: 0;
    position: sticky;
    background-color: #013880;
}
nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 70px;
    padding-right: 5px;
    position: relative;
}
.header h1 {
    flex: 1;
    padding-left: 18px;
    font-weight: 600;
    color: white;
    text-align: left;
}
.nav-links {
    display: inline;
    float: right;
}
.nav-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    font-size: 18px;
    color: white;
}
.nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #013880;
    min-width: 120px;
    text-align: center;
    top: 34px;
    z-index: 1;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .drop-content {
    display: block;
}
.drop-content a {
    padding: 12px 10px;
    border-bottom: 1px solid rgb(197, 197, 250);
    display: block;
    transition: all 0.5s ease !important;
}
.drop-btn .drop-content a:hover {
    background-color: rgb(230, 230, 230);
}
.dropdown:hover .drop-btn {
    background-color: rgba(0, 0, 0, 0.3);
}
.content {
    word-wrap: break-word;
    margin-bottom: 20px;
}
.content h1 {
    padding: 10px 50px;
    font-size: 25;
}
.content div {
    margin-inline: 50px;
    display: block;
    background-color: rgb(224, 224, 224);
}
.content div h2 {
    padding: 20px 40px;
    font-weight: 400;
    text-align: left;
    font-size: 18;
}
.content div p {
    padding: 20px 40px;
    font-weight: 400;
    text-align: center;
}
.calendar {
    text-align: center;
    padding: 10px 50px;
}
.calendar iframe {
    width: calc(95% - 5%);
    height: calc(90% - 10%);
    margin-inline: 5%;
    padding: 10px 0px;
}
.portal {
    min-height: calc(100vh - 110px);
    display: block;
    padding-top: 90px;
    background-color: #013880;
    align-items: center;
    align-content: center;
}
.portal h1 {
    text-align: center;
    padding: 25px 6px;
    font-size: 38;
}
.portal form {
    padding: 20px 35px;
    margin: auto;
    display: block;
    width: 480px;
    background-color: #fff;
    border-radius: 3px;
}
.portal form a {
    display: inline-block;
    background-color: #ECE608;
    margin: 10px 0px;
    padding: 10px 15px;
    border-radius: 5px;
}
.portal form a:hover {
    background-color: #b1ab0a;
}
.portal form input {
    display: block;
    margin: 10px 0px;
    padding: 5px 10px;
}
.portal form button {
    display: block;
    margin: 10px 0px;
    padding: 5px 10px;
}
.allButFooter {
    min-height: calc(100vh - 40px);
}
footer {
    display: block;
    padding: 7px 20px;
    background-color: rgb(214, 214, 214);
}